@import url("./styleguide.css");
/* Strip styling in extra file due to complexity of this file */
@import url('./css/strip.css');

.cornerMenu {
  width: auto;
  height: auto;
  position: fixed;
  /* background-color: aqua; */
  left: 0;
  bottom: 0;
  margin: 0 0 1rem 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .25fr;
}

.settingsButtonContainer {
  max-height: 100px;
}

.swal2-container,
.swal2-html-container {
  font-family: system-ui;
  text-align: left !important;
}

.swal2-html-container a,
.swal2-footer a {
  color: blue;
}

.toast-close {
  display: none;
}

.settingsButton {
  width: 50px;
  height: 50px;
  fill: aliceblue;
  cursor: pointer;
}

.copyrightNotice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
}

.ATC-suite-info-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  display: grid;
  grid-template-columns: minmax(0, 100px) [logo] repeat(6, 1fr);
  grid-template-rows: 100%;

  background-color: var(--info-bar-background);
}

.logo {
  display: flex;
  color: var(--main-divider);
  font-family: var(--default-font-family);
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ATC-suite-info-bar>.info-bar-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.4fr 1.5fr;

  border-left: 2px solid var(--info-bar-item-border);
  padding: 4px;
}

.leftNote,
.rightNote {
  font-size: small;
}

.rightNote {
  text-align: right;
}

.infoName {
  text-align: center;
  grid-column: span 2;
  font-size: smaller;
  text-decoration: underline dotted;
}

.info-bar-item>.content {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-bar-item-4 .leftNote,
#info-bar-item-4 .rightNote {
  width: 100%;
}

.info-bar-item:has(.content > .runwayCheckboxes) {
  overflow-y: hidden;
  grid-template-rows: 1fr 2fr;
}

.floatLeft {
  float: left;
}

.content:has(.runwayCheckboxes) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.runwayCheckboxes::-webkit-scrollbar {
  display: none;
}

.runwayCheckboxes {
  overflow-y: scroll;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.runwayCheckboxes:nth-child(-n+1) {
  border-right: 1px solid grey;
}

.runwayCheckboxes>p {
  font-size: small;
  margin: 0 0 0 0.1rem;
}

.runwayCheckboxes>input {
  display: block;
  height: auto;
}

select,
button {
  outline: none;
  border: none;
  font-family: var(--default-font-family);
  font-size: 12px;
  font-weight: bold;
  max-width: 100%;
  min-width: 50%;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: var(--active)
}

.main {
  height: calc(100vh - 80px);
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: var(--background);

  display: grid;
  grid-template-columns: minmax(0, 1.5fr) 4fr;
  grid-template-rows: 1fr;

  z-index: -1;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--main-divider);
  padding-left: 2rem;
  padding-right: 2rem;
}

.chartContainer>img {
  max-width: 600px;
  width: 100%;
  background-color: white;
  object-fit: scale-down;
  z-index: 4;
}

.swal-modal {
  font-family: Arial, Helvetica, sans-serif;
}

div:where(.swal2-container).swal2-center>.swal2-popup:has(h3#changelog) {
  width: auto !important;
}

[data-no-select] {
  user-select: none;
}

[data-action] {
  text-decoration: underline dotted;
  cursor: pointer
}

a {
  color: aliceblue;
  text-decoration: underline dotted;
}

.discordButton {
  height: auto;
  padding: .8rem .1rem;
  margin: 0 1rem 0 0;
  width: 8rem;
  color: aliceblue;
  background-color: #5865F2;
  border-radius: 5px;
}

.discordButton:hover {
  background-color: hsl(235, 86%, 63%);
}

.discordButton:active {
  background-color: hsl(235, 86%, 61%);
}

.disabled {
  height: auto;
  padding: .8rem .1rem;
  margin: 0 1rem 0 0;
  width: 8rem;
  color: aliceblue;
  background-color: var(--disabled);
  border-radius: 5px;
}