body,
html {
  background-color: rgb(19, 19, 19);
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: aliceblue;
  font-family: var(--default-font-family);
}

canvas {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  background-size: contain;
  /* background-size: 10%; */
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

.sidebar {
  height: 100%;
  width: 100px;
  border-left: 1px solid gray;
  padding: 2px;
  font-size: 12px;
  font-weight: 100;
}

p {
  margin: 0;
}

#sidebar {
  margin-left: 5px;
}

#templateItem {
  display: none;
}

#sector {
  margin: 0 0 20px 5px;
  user-select: none;
}